<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<p class="pull-right"><small>updated October 2019</small>	|	
	<small>Site design adapted from <a href="https://github.com/jmcglone/jmcglone.github.io" target="_blank">jmcglone</a><a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank"><img  class="img" alt="Creative Commons Attribution 3.0 Unported" src="http://liqian-ma.github.io/files/cc.png" width="12" height="12""></a></small></p>
	</div>
</div> <!-- /footer -->
