</div> <!-- /header -->
{% include analytics.html %}	
<link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html',''}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Liqian Ma">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	<title>{{ page.title }} Liqian Ma | PhD Candidate in Cancer Physiology</title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="menu.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
</head>
